*{
    box-sizing: border-box;
}

body{
    margin: 0;
}

main{
    display: flex;
    flex-wrap: wrap;
    background: #b1b1b1;
    
}

.main-header{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 50px;
    margin: 0;
    background: #1A1A1d;
    color: #950740;
    font-size: 150%;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.navbar{
    list-style-type: none;
    margin: 0;
    padding: 10px;
    float: right;
}

.navbar li {
    display: inline;
    padding: 50px;
    
    
   
}

a{
    color: #950740;
    text-decoration: none;
}

#about{
    color: #6F2232;
    
}

p{
    color:#6F2232;
}

#work{
    flex-direction: row-reverse;
    color: #6F2232;
}


.project{
    display: grid;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-end;
    width: 250px;
    height: 250px;
    border-style: solid;
    border-width: 2px;
    border-radius: 50px;
    padding: 10px;
    margin: 10px;
    flex: 0 0 100px;
    
  
}

.project header{
    background: #1A1A1d;
    color: #950740;
    border-radius: 50px 50px 0px 0px;
    padding: 0 70px 0 70px;
    

}

.thumbnail{
    border-radius: 0 0 50px 50px;
}




footer{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 45px;
    margin: 0;
    background: #1A1A1d;
    color: #950740;
    font-size: 75%;
    font-family: Georgia, 'Times New Roman', Times, serif;

}

#contact .info{
    display: none;
    padding: 1% 0;
}

#contact:hover .info{
    display: block;
}
    




    







    


