*{
    padding: 0;
    margin: 0;
    background-color: lightgrey;
    
}

.header{
    display: flex;   
    padding: 60px;
    background-color: blue;
}
    

#nav{
    list-style-type: none;
    margin: 0 ;
    padding: 0;
    display: flex;
    float: right;
    padding: 10px;
}

li{
    margin: 0 10px;
}



    


