*{
    box-sizing: border-box;
}

body{
    margin: 0;
}

main{
    display: flex;
    flex-wrap: wrap;
}

.main-header{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 100px;
    margin: 0;
    background: #1A1A1d;
    color: #950740;
    font-size: 150%;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.navbar{
    list-style-type: none;
    margin: 0;
    padding: 10px;
    float: right;
}

.navbar li {
    display: inline;
    padding: 50px;
    color: #950740;
    
   
}


.projects{
    flex-direction: row;
    justify-content: right;
    align-items: flex-end;
}

#contact .info{
    display: none;
    padding: 1% 0;
}

#contact:hover .info{
    display: block;
}
    




    







    


